<div class="container">
  <h1>お気に入り投稿一覧</h1>

  <div class="post-container">
    <% if @favorite_posts.any? %>
      <% @favorite_posts.each do |post| %>
        <div class="post">
          <% if post.photo.present? %>
            <%= image_tag(post.photo, alt: '投稿の画像', class: 'posts-image') %>
          <% else %>
            <%= image_tag('no_image.jpg', alt: '投稿の画像', class: 'posts-image') %>
          <% end %>
          <h2><%= link_to post.store_name, post_path(post) %></h2>
          <p><%= truncate(post.memo, length: 100) %></p>
        </div>
      <% end %>
    <% else %>
      <p>お気に入りに登録された投稿はありません。</p>
    <% end %>
  </div>
</div>
