<div class="container">
  <h1>最新投稿</h1>

  <div class="post-container">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="post">
          <% if post.photo.attached? %>
            <%= image_tag post.photo, alt: '投稿の画像', class: 'posts-image' %>
          <% end %>
          <h2><%= link_to post.store_name, post_path(post) %></h2>
        </div>
      <% end %>
    <% else %>
      <p>検索に一致する投稿がありません。</p>
    <% end %>
  </div>
  
  <!-- ボタンを post-container の外に移動して、ページ全体で中央に配置する -->
  <% if Post.count >= 6 %>
    <div class="center-button">
      <%= link_to '投稿一覧を見る', posts_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
