<div class="navbar">
  <div class="navbar-brand">
    <%= link_to 'CoffeeBlog', root_path %>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'ホーム', root_path %></li>
      <li><%= link_to '新規登録', signup_path %></li>
    </ul>
  </nav>
</div>
