.container {
  max-width: 800px;
  margin: 0 auto;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px 6%;
}

.post {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px 6%;
}

.posts-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}

.post-image {
  flex: 1;
  margin-top: 20px;
  margin-left: 50px;
}

.post-content {
  flex: 2;
  margin-left: 50px;
}

.btn-primary {
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #fc7171;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}


.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.navbar {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-button {
  padding: 5px 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #4cae4c;
}

.navbar-menu {
  display: flex;
}

.btn-small {
  width: 100px;
  padding: 5px 10px;
  display: inline-block;
  text-align: center;
}
