.container {
  max-width: 800px;
  margin: 0 auto;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.post {
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
}

.btn-primary {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.navbar {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* 検索フォームを中央に配置 */
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-button {
  padding: 5px 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #4cae4c;
}

/* 他のメニュー項目もフレックスで配置 */
.navbar-menu {
  display: flex;
}
